.container
{
	max-width: 500px;
	border: 1px solid;
	padding-bottom: 20px;
	border-radius: 20px;
	margin-top: 20px;
} 

.row 
{
	margin-top: 10px;
}

b
{
	font-size: 20;
}

.btn-circle 
{
    width: 80px;
    height: 80px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.slider 
{
	width: 100%;
	
}